extends template/template.jade

block pageMeta
   title Fees | Yorkshire BSL Interpreters
   meta(name='description' content= "Portal for contacting freelance BSL/English interpreters in the Yorkshire region")

block prepend navigation
  - var navTitle          = "Fees";

block lcontent
  h1 Fees
  p Freelance interpreters will have a minimum call-out fee for their work. This will vary from person to person, please ask when you are making a booking.
  p The cost payable depends on a number of factors including:
  ul 
    li The type of the assignment (e.g. Legal work is typically more expensive)
    li The times and duration of the assignment.
    li The qualifications and experience of the interpreter.
    li The mileage/travel costs.
  p Longer assignments may need a second interpreter to be booked in order to co-work. You will receive professional advice from whoever you are in contact with.
  p Please be aware that cancellation fees are often applicable. Please check with the interpreter when discussing the booking.
  p An indication of a range of typical fees charged can be found on the NUBSLI website (current as of 2017) 
    a(href="http://www.nubsli.com/guidance/interpreter-fees/") http://www.nubsli.com/guidance/interpreter-fees/

block rcontent
    h2  About 
    p This website is a quick and convenient way for you to contact qualified, registered British Sign Language interpreters who live locally.
    p A simple one click button lets you send an email to all the interpreters listed saving you time and money.
