#cookieBanner.wrap
    .container
      .row
        .col.col-md-12
          h3 This website uses cookies
          p This website uses cookies to collect site usage data. See the 
            a(href='/cookie-policy/') cookie policy
            |  for more information
          .buttons
            button#cookieAccept.btn.btn-success I accept
            button#findOutMore.btn.btn-info Do not set cookies
  
