
meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1')

//- pageMeta for SEO
block pageMeta
  title Yorkshire BSL Interpreters
  meta(name='description' content= "Portal for BSL/English interpreting services")
  
//- Stylesheets
block styles
  link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='/css/bootstrap.css')
  
//- Javascipt
block head_scripts 
  //- script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.js')
  //- script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js')  
  //- change out for local JS
//  script(type='text/javascript', src='/js/jquery.js')
//  script(type='text/javascript', src='/js/bootstrap.js')
